
.App {
  text-align: center;
}


/* NAV */
.Nav {
  display: flex;
}

.logo {
  width: 40%;
  display: flex;
  margin: 16px 0px 0px 225px;
  cursor: pointer;
}

.nav-menu {
  width: 60%;
  display: flex;
  justify-content: center;
  margin-top: 16px;
  margin-right: 32px;
}

.nav-menu p {
  font-family: 'Avenir';
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2.4px;
  padding-right: 64px;
}

.active {
  color: #D88701;
  cursor: pointer;
}

.inactive {
  color: #fff;
  cursor: pointer;
}


/* HEADER */
.Header {
  background-image: url("./assets/images/hero.png");
  background-size: cover;
  position: fixed;
  top: -8px;
  left: -8px;
  width: 102%;
  height: 102%;
}

.header-content {
  font-family: 'Avenir';
  font-size: 36px;
  font-weight: 600;
  color: #fff;
  width: 40%;
  text-align: left;
  padding-left: 225px;
  padding-top: 150px;
}

.header-title {
  line-height: 65px;
  margin-top: 32px;
  margin-bottom: 16px;
}

.side-bar {
  height: 42px;
  width: 10px;
  background-color: #EB980E;
  margin-right: 16px;
}

.header-subtitle {
  display: flex;
  align-items: center;
  margin: 16px 0px 16px;
} 

.header-subtitle-text {
  font-size: 18px;
  font-weight: 300;
  width: 80%;
  opacity: 70%;
}

.read-more {
  width: 180px;
  height: 40px;
  background-color: #EB980E;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-size: 16px;
  font-family: 'Avenir';
  font-weight: 700;
  cursor: pointer;
}